::ng-deep * {
  margin: 0;
  padding: 0;
}

.main {
  background-image: linear-gradient(310deg, #274B74 0% , #8233C5 48% , #E963FD 100%);
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
