.img-container {
  width: 420px;
  height: 260px;
  float: left;
  img {
    height: 100%;
  }
}

//.img-preview {
//  width: 400px;
//  height: 200px;
//  float: left;
//  margin-left: 10px;
//}

.img-preview{
  margin-left: 15px;
  width: 420px;
  height: 260px;
  color: whitesmoke;
  border-radius: 15px;
  border-color: #252525;
  border-width: 5px;
  background: #252525;
  overflow: hidden;
  box-shadow: 0 4px 15px 0 #8233C5;
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );

  img {
    width: 100%;
    height: 100%;
  }
}
