/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', sans-serif;
}

.upload-btn {
  width: 150px;
  height:40px;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin:auto 0 15px;
  background: #8233C5;
  box-shadow: 0 4px 15px 0 #8233C5;
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border: 1px solid rgba(245, 245, 245, 0.67);
  cursor: pointer;


  &:disabled {
    background: #9364c0;
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
  }

  &:hover {
    background: #5e358d;
    transition: ease-in .5s;
  }
}
//
//.upload-btn:disabled {
//  background-color: black;
//}
//
//.upload-btn:hover {
//  background-color: #252525;
//  transition: ease-in .5s;
//}
//
//.upload-btn:active {
//  transition: none;
//}
